/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, 
b, u, i,
 ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, footer, header, hgroup,
main, menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}

/* start  main styling */
*::selection{
	background:	#fbc93d;
}
body{
  margin:0;
  font-family: 'Open Sans', serif;
  background-color: #f8f8fa
}
a{
	color: 	#6cc0e5;
	text-decoration: none;
}
/*start nav*/
nav{
  display:flex;
  text-align:center;
  font-size:calc(14px+3vw);
 
}

.article-nav i{
	margin: auto 0;
	padding: 2vw;
}

header{
	min-height:40vw;
	padding-bottom: 8vw;
	background:	rgba(108, 192, 229, 0.7);

}
.nav-items {
  font-size:calc(14px + 2.5vw);
  list-style:none;
  margin:auto;
  padding:10vw 0 2vw 0;
  font-weight:500;
  background:#000;
  z-index:1;
  position:fixed;
  overflow: hidden;
  color:#fff;
  display:none;
  width:100%;
  min-height: 100%;
  box-sizing: border-box;
}
.nav-items li{
  display:block;
  padding:3vw;
  min-height: 8vh;
  margin: auto;
}
 nav h2{
  font-size:calc(14px + 1.6vw);
  margin:auto;
  z-index:3;
  color:#fff;
  transform:translate(-6.95vw );
  -ms-transform:translate(-6.95vw );
  -webkit-transform:translate(-6.95vw );
  line-height: 1.5;


}
nav a,nav a:active{
	text-decoration: none;
	color: #fff;
}

.articles{
	display: flex;
	flex:1 0 215px;
	flex-wrap: wrap;
	padding: 0% 2% 2%2%;
	overflow: hidden;
	
}
.articles>div{
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 215px;
	justify-content: space-around;

	
}
.article-example a h4{
	font-size: calc(16px + 1.5vw);
	padding:4vw 1vw 2vw 4vw;
	line-height: 1.3;
	color: #000;
	
}
.article-example{
	flex: 1 0 215px;
	min-width: 50%;
	min-height: 20vw;
	margin: 2vw ;
	background-color: #fff;
	padding-bottom: 6vw;
	box-sizing: border-box;
	overflow: hidden;

	
}
.shadow{
		box-shadow: 10px 10px 4vw 	#e5e6eb,
					-5px -5px 4vw 	#e5e6eb
}
.article-example h4{
	font-size: calc(16px + 2vw);
	padding: 4vw 4vw 1.5vw 4vw;
	line-height: 1.3
}
.articles  a :hover{
	color: #6cc0e5;
	transition: .2s ease-in-out;
	cursor: pointer;
} 
.title{
	color: #000
}
.big{
	margin-top: 10%;
	min-height: 20vw;
	max-height: 50vw !important;
}
.article-example p{
	font-size: calc(16px + .3vw);
	line-height: 1.5;
	padding: 1vw 4vw 1vw 4vw;
	
}
.article_description{
	padding: 1vw;
	background-color: #F2F2F2;
	padding-left:4vw;
}
.articles a {
	font-weight: bold;
	
}
a.load{
	margin: 4vw;
	font-size: calc(16px + .5vw )
}
a:active{
	color: transparent;
	background-color: transparent;
}
/*category layout*/
.catego-articles {
	width: 95%;
	margin: 0 auto;


}

/* end category layout*/

nav i{
  z-index:2;
  margin:1vw;
  color:#fff;
  transition:.2s ease
}
.fa-bars, .fa-times{
  font-size: calc(14px + 2.8vw) !important;
  margin:4vw;
   
}
.fa-bars:hover, .fa-times:hover{
  cursor:pointer;
  transform:scale(1.1);
  -ms-transform:scale(1.1);
  -webkit-transform:scale(1.1);
}
 nav ol li:hover{
  background: linear-gradient( -135deg,  #FF9261 1%, 	#fbc93d );
  cursor:pointer;
  margin:auto;
  
}
@keyframes slide{
  0%{
    left:-140%
  }
  100%{
    left:0
  }
}
.slider{
  animation-name:slide;
  animation-duration:.4s;
  animation-iteration-count:1;
  display:block
}
@keyframes rotate{
  50%{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg)
  }
  60%{
    transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg)
  }
  75%{
    transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg)
  }
  100%{
     transform:rotate(30deg);
     -ms-transform:rotate(30deg);
    -webkit-transform:rotate(30deg)
  }
}
.rotate{
  animation-name:rotate;
  animation-duration:.4s;
  animation-iteration-count:1;
}
.scale{
   animation-name:scale;
  animation-duration:.4s;
  animation-iteration-count:1;
}
@keyframes scale{
  40%{
    transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6)
  }
  80%{
    transform:scale(1.2);
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2)
  }
  100%{
    transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1)
  }
}
.fa-magic{
    animation-delay: 1s;
    animation-duration: 4s;
    animation-name: magic;
    animation-iteration-count: infinite;

}
@keyframes magic{
  10%{
    transform: rotate(25deg);
    transform-origin: 50% 100%;
    opacity: 60%;
  }
  20%{
    transform: rotate(-25deg);
    opacity: 100%;
  }
  30%{
    transform: rotate(25deg);
    opacity: 60%;
  }
  40%{
    transform: rotate(-25deg);
    opacity: 100%;
  }
  50%,100%{
  transform: rotate(0deg);
  opacity: 100%
  }
 
}
/*web basics section*/
.web-basics{
	display:flex;
	min-height:70vh;
	overflow: hidden;
	background-color: #fff;
	flex-wrap: wrap;
}
.basics-title, .languages{
	flex:1 0 215px;
	display: flex;
	flex-wrap: wrap;
	min-width: 50%;
	
}
.languages div h4 ,.basics-title h3{margin: auto}
.basics-title h3{
	color: #fb4f4f;
	font-size: calc(16px + 3vw);
	
}
.languages div:hover{cursor: pointer;}
.languages div:hover h4{
	transform: scale(1.3);
}
.languages div h4{
	font-size: calc(16px + 2.8vw);
	transition: .2s ease-in-out
}
.languages .last{
	font-size: calc(16px + 2vw)
}
.languages  a{
	display: flex;
	min-width: 50%;
	flex: 1 0 215px;
	
}
.languages  a div{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.basics-first{
	background-color: #fb4f4f;
	color: #fff;
}
.basics-second{
	background-color: #56b947;
	color: #fff;
}
.basics-third{
	background-color: #fbc93c;
	color: #000;
}
.basics-fourth{
	background-color: #ecf0f1;
	color: #000;
}

/*start  tools section*/

.tools{
	display:flex;
	min-height: 70vh;
	flex-wrap: wrap ;
	
}
.tools >div{
	min-width: 50%;
	display: flex;
	flex: 1 0 215px;
}
.tools >div:first-of-type{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}
.tools >div:first-of-type a{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(16px + 1vw);
	min-height: 33.33333333333333333%;

}
.tools >div:first-of-type a:hover{
	webkit-filter: brightness(80%); /* Safari 6.0 - 9.0 */
    filter: brightness(80%);
    transition: .2s ease;
    cursor: pointer;
}
.tools >div:nth-of-type(2) h3{
	margin: auto;
	font-size: calc(16px + 3vw);
	color: #f05252;
	
}
.tools >div:nth-of-type(2){
	background-color: #fff;
}
.tools .first-col a:first-of-type{
	background-color: #6dc0e5;
	color: #fff;
}
.tools .first-col a:nth-of-type(2){
	background-color: #FAAF41;
	color: #fff;
}
.tools .first-col a:nth-of-type(3){
	background-color: #f05151;
	color: #000
}
/*make a website*/
.make-website{
	display: flex;
	min-height: 75vh;
	background-color: #000;
	color: #fff;
	
}
.make-website:hover h3{
	transform: scale(.001);
	opacity: 0;
	transition: .3s ease-in-out;
}
.make-website:hover{
	background-image: url("../images/website.gif");
	background-color: #FAAF41;
	background-size: cover;
	background-position: 50% 50%;

}
.make-website h3{
	font-size: calc(16px + 5.2vw);
	margin: auto;
	font-weight: bold;
	text-align: center;
	line-height: 1.4;
}

/*blog description*/
.about{
	min-height: 40vw;
	display: flex;
	justify-content: center;
	background-color: #FAAF41;
	align-items: : center;
	perspective: 215px;
}

 .desc{
	flex:7 0 215px;
	display: flex;
	flex-direction: column;
	align-items: center;

	}
.voldemort{
	flex:5  0 215px;
	box-sizing: border-box;
	padding: 2vw;
	flex-wrap: wrap;
}
.voldemort img{
	height: 50vw;
	width: 35vw;
	min-width: 
}
.blog_desc{
	margin: auto;

}
.about h2{
	font-size: calc(16px + 5vw);
	align-self: flex-start;
	padding: 1vw 2vw 1vw 3vw;

}
.about h4{
	margin: 1vw;
}
.about p{
	font-size: calc(16px + 2vw);
	align-self: center;
	padding-left: 3vw;
}
.about img:hover{
	-webkit-filter: grayscale(100%); /* Safari */
    filter: grayscale(100%);
    transition: .4s ease-in-out;
    transform: rotateZ(0.1deg);
}

/*author*/
.author{
	min-height:40vw;
	display: flex;
	flex-wrap: wrap;
	padding: 6vw 2vw 8vw 2vw;
	perspective: 200px;
	background-color: #fff;
	box-sizing: border-box;
}
.author div{
	display: flex;
	flex: 1 0  215px;
	min-width: 50%;
	align-content: center;
	justify-content: space-around;
	overflow: hidden;

}
.author div:nth-of-type(2){
	flex-wrap: wrap;
	display: flex;

}
.author div h3{
	font-size: calc(16px + 4vw);
	font-weight: bold;
	margin: auto;	
	padding-top: calc(20px + .1vw);
	padding-bottom: calc(20px + .1vw);
}
.author div p {
	font-size: calc(14px + 2vw);
	margin: auto;
	line-height: 1.4;
	padding:30px;
	text-align: center;
}

.author img{
	height: calc(100px + 20vw);
	width: calc(100px + 20vw);
	transform : rotateY(3deg);
    box-shadow: 35px 35px 30px #bdc3c7;
	margin: auto;
	transition: .3s ease-in-out;

}
.author img:hover{
	transform : rotateY(0.5deg);
    box-shadow: 10px 10px 10px #bdc3c7;
}

/*footer section*/

footer{
	background: #ecf0f1;
	display: flex;
	flex-wrap: wrap;
	padding: 3.3vw 1vw 1vw 1vw;
	min-height: 14vw;
}
.container{
	width: 80vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
footer .container> div{
	min-width: 40%;
}
footer .copyrights{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-self: center;
	flex-direction: column;
	min-height: 30%;
	flex:9 0 215px;
	min-width: 50%;

}
footer .social{
	align-items:center;
	display: flex;
	flex-direction: column;
	flex: 3 0 215px;

}
footer .copyrights p ,footer .copyrights h4{
	flex: 1;
	line-height: 2.2;
	font-size: calc(14px + .5vw);
	text-align: center;
}

footer .social a,footer .social a:active {
 	text-decoration: none;	
}
footer .social .fb{
	background-color: #3b5999;

}
footer .social .hire{
	background-color: #f05252;

}
footer button{
	min-height: calc(6vw + 15px);
	min-width:calc(25vw + 10px);
	color: #fff;
	font-weight: bold;
	padding: calc(10px + .5vw);
	font-size: calc(10px + 1.1vw);
	outline: none;
	border: none;
	box-sizing: border-box;
	margin: calc(5px + .3vw);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2vw;
	box-shadow: 0px 5px 3px #bdc3c7;
}
footer button:hover{
    transition: .1s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 12px 15px #95a5a6;
}

/*article file*/

.article{
	min-height: 40vw;
	background-color: #fff;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 6vw;
	padding-top: 3vw;
	padding-bottom: 3vw;
}
.article-container{
	width: 80%;
	margin: 0 auto;
}
.highlighter-rouge{
	margin-left: 20px;
}
.article-container h1{
	font-size: calc(16px + 2.5vw);
	font-weight: bold;
	padding:calc(10px + .6vw) 0 calc(10px + .6vw) 20px;
	line-height: 1.5;
	color: rgb(30,30,30);

}
.post-title{
	padding: calc(10px + .5vw) 0 calc(15px + 1.5vw) 0 ;
}
.article-container p {
	font-size: calc(14px + .3vw);
	line-height: 1.8;
	margin: 1vw 20px 1vw 20px
}
.article img{
	width: 100%;
	
}
.article ol {
	margin-left: 20px;
	display: flex;
	flex-wrap: wrap;
}
.article ol li{
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;

}
.article ol li img{
	height: calc(20px + 1vw);
	width: calc(20px + 1vw);
	border-radius: 50%;
	position: absolute;
	left:0;
	top: -40%;
}
.article ol li a{
	margin-left: calc(25px + 1vw)
}
@media only screen and (max-width:320px){
.article ol li{
	flex: 1 0 160px;
}
}
.article-container h2{
	color: #FB4F4F;
	font-size: calc(16px + 1vw);
	font-weight: bold;
	padding:calc(10px + .4vw) 0 calc(10px + .4vw) 20px;
}
.bg-white{
	background-color: #F9F9FA;
}
.fw-red{
	color: #fb4f4f;
}

/*media queires*/

@media only screen and (max-width:425px){


	.nav-items li{
		min-height: 20vw;
		transform: translateY(4vw);
	}
	.tools >div:first-of-type{
		order: 2;
	}
	.make-website:hover{
	background-position: 50% 100%;

	}
	.web-basics, .tools{
		min-height: 150vw;
	}
	.about{
		display: none;
	}
	footer button{
		min-width: calc(50vw + 25px);
		min-height: 13vw;
	}
	.article{
		width: 100%;
	}
	.article-container{
		width: 100%;
}	
	.author h4{
		margin:5vw;
	}


}
@media only screen and (max-width:425px) and (min-width: 320px){
	footer button{
		min-width: calc(50vw + 20px);
		min-height: calc(10vw + 20px)
	}
}


@media only screen and (max-width:768px) and (min-width: 425px){
	.articles > article {
		min-width: 100%;
	}
	.article{
		width: 80%;
	}
	.article-container{
		width: 100%;
}
	footer button{
		min-width: calc(37vw + 15px);
		min-height: calc(10vw + 10px)

	}

}
@media only screen and (max-width:320px){
	footer button{
		min-width: calc(50vw + 20px);

	}
}

/*portfolio page*/

.portfolio-wrapper section{
	min-height: 100vh;
	display: flex;
	box-sizing: border-box;
	padding: calc(20px + 3vw);
	text-align: center;
	line-height: 2;
	overflow: hidden;
	position: absolute;
	width: 100%

}
.portfolio-wrapper section:nth-of-type(odd){
	background:#161616;
	font-size: calc(10px + 2vw)
}
.portfolio-wrapper section:nth-of-type(even){
	background:#000;
	font-size: calc(10px + .3vw);
}
.portfolio-wrapper section h2{
	margin: auto;
	color: #fff
}

.portfolio-wrapper section:nth-of-type(2){
	margin-top: 100vh
}
.portfolio-wrapper section:nth-of-type(3){
	margin-top: 200vh
}
.portfolio-wrapper section:nth-of-type(4){
	margin-top: 300vh
}
.portfolio-wrapper section:nth-of-type(5){
	margin-top: 400vh
}
.portfolio-wrapper section:nth-of-type(6){
	margin-top: 500vh
}
.pf-first{
	position: fixed !important;
	transition: all .6s ease-out;
}
.pf-first h2{
	align-self: center;
	font-size: calc(20px + 4vw) 
}
.avatar {
	height: 38vw;
	width: 25vw;
	opacity: 0.03;
	position: absolute;
	align-self: center;
	transition: all .6s ease-out;
}
.avatar:hover{
	opacity: 1;
	filter: brightness(7);
	transition: all 0.8s ease-out
}
.avatar_active{
	opacity: 1;
	filter: brightness(7);
	transition: all 1s ease-out;
	
	
}
.avatar_translate{
	margin-left: calc(50% - 12.5vw);
	
}
.radial-bg{
	background: radial-gradient(#6E6EBC, #1B0545) !important;
	
}