<nav class="fw-red">
			  <i class="fa fa-bars " aria-hidden="true"></i>
			  <h2><i class="fa fa-magic " aria-hidden="true"></i>Abra &lt;&sol;Code&gt; Abra </h2>
			  <ol class="nav-items">
				    <a href="{{site.baseurl}}/"><li>Home</li></a>
				    <a href="{{site.baseurl}}/index#basics" class="basics-ref"><li>Learn Web Basics</li></a>
				    <a href="{{site.baseurl}}/index#dev_tools"><li>Developer Tools</li></a>
				    <a href="{{site.baseurl}}/portfolio"><li>Who am I?</li></a>
			  </ol>
		    
</nav>