<!DOCTYPE html>
<html>

	{% include head.html %}

		<nav style="background: url('https://vignette4.wikia.nocookie.net/papermario/images/4/49/Crumpled-paper-texture.png/revision/latest?cb=20120327040914'),#6dc0e5 ">
				  <i class="fa fa-bars " aria-hidden="true"></i>
				  <h2><i class="fa fa-magic " aria-hidden="true"></i>Abra &lt;&sol;Code&gt; Abra </h2>
				  <ol class="nav-items">
					    <a href="{{site.baseurl}}/"><li>Home</li></a>
					   <a href="{{site.baseurl}}/index#basics" class="basics-ref"><li>Learn Web Basics</li></a>
				    	<a href="{{site.baseurl}}/index#dev_tools"><li>Developer Tools</li></a>
					    <a href=""><li>Who am I?</li></a>
				  </ol>
			    
		</nav>
	<body>
		
		<div class="bg-white">
			<div class="article">
				<div class="article-container">
					<h1>{{page.title}}</h1>
				{{page.content}}	
				</div>	
			</div>
	


		{% include author.html %}
		{% include footer.html %}
		{% include scripts.html %}

	</body>
</html>